.list-item {
    display: flex;
    flex-flow: column;
    border-top: 1px solid #ccc;
    padding: 1rem;
    gap: .5rem;

}

.main {
    display: flex;
    flex-flow: row;
    gap: 1rem;
    align-items: center;
}

.title {
    margin-bottom: 0;
    font-size: 16pt;
    font-weight: bold;
}

.title:hover,
.title:active{
    color: darkblue;
}


.labels {
    font-weight: bolder;
    font-size: 80%;
    border-radius: 1rem;
    padding: 2px 1rem 2px 1rem;
    text-align: center;
}


.details {
    color: grey;
    align-items: center;
}

.list-item:hover,
.list-item:active {
    background: whitesmoke;
}
