<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="icon" href="/img/logo.jpeg">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div id="header_icon">
        {{>header}}
     </div>
    
    <div class="main-content">
        <p>{{errorMessage}}</p>
    </div>
    
    {{>footer}}
</body>

</html>