.weather {
  display: flex;
  flex-direction: column;
  width: 30rem;
  height: 20rem;
  border: 3px solid #ececec;
  color: white;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.weather__image {
  width: 10rem;
  height: 10rem;
}