<div class="results">
    <h3>{{resultsTitle}}</h3>
    <div class="media-cards">
        {{#each animes}}
            <div class="media-card">
                <img src={{posterImage}} alt="cover">
                <div class="title"><p>{{title}}</p></div>
            </div>
        {{/each}}
    </div>
</div>