.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  background: deepskyblue;
  list-style: none;
  margin: auto;
}

.navigation li {
  padding: 1em;
  color: white;
}

.navigation li:hover,
.navigation select:hover{
  background: #1565c0;
}

.navigation select {
  background: deepskyblue;
  color: white;
  padding: 1em;
  border: none;
  outline: 0;
  font-size: 16px;
}