.main {
    margin: 3rem;
}

.header {
    font-size: 22pt;
    font-weight: bolder;
    padding-bottom: 2rem;
}


.container {
    display: flex;
    gap: 2rem;
}

.issue {
    display: flex;
    flex-flow: column;
    border: 1px solid #ccc;
    border-radius: .5em;
    padding: 1rem;
}

.info{
    font-size: larger;
    font-weight: bolder;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
}

.details {
    display: flex;
    flex-flow: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: .5em;
    gap: 2rem;
    width: 15rem;
    height: 30rem;
    padding: 1rem;
}

.avatar {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: .5rem;
    font-weight: bolder;
}

.avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    border: 2px solid purple;
}

.status {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.labels {
    margin-top: .5rem;
}