.user-container {
  display: flex;
  flex-direction: column;
  width: 250px;
  background: white;
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}

.user-container img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: auto;
  border: 2px solid purple;
}

.button {
  background: white;
  width: 150px;
  height: 30px;
  color: purple;
  border: 1px solid purple;
  margin: auto;
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
}

.name {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: auto;
  padding-top: 1rem;
}

.location {
  padding-top: 0.5rem;
  margin: auto;
  font-style: italic;
  font-weight: lighter;
  padding-bottom: 1.5rem;
}

.button:hover,
.button:active {
  background: purple;
  color: white;
}

.user-container:hover {

}
