.header {
    display: flex;
    justify-content: space-between;
    background: white;
    align-items: center;
    border-bottom: 2px solid purple;
}

.header img {
    width: 150px;
    height: auto;
    padding-left: 2rem;
}

