.button {
    width: 500px;
    height: 30px;
    /* margin: auto; */
    background: white;
    color: purple;
    border: 1px solid purple;
    border-radius: 5px;
    margin-left: 30rem;
    margin-bottom: 1rem;
    font-size: 15px;

}

.button:hover,
.button:active{
    background: purple;
    color: white;
}