.wishlist-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ccc;
  padding: 1rem 0;
}

.summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.summary img {
  border-radius: 10px;
  width: 7rem;
  height: 10rem;
}

.summary h2 {
  color: #363636;
}

.summary p {
  font-style: italic;
}

.actions {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .actions {
    flex-direction: row;
  }
}

.wishlist-item button {
  font: inherit;
  font-weight: bold;
  font-size: 1.25rem;
  color: #363636;
  border: 1px solid #ccc;
  width: 3rem;
  text-align: center;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
  margin-left: 1rem;
  margin: 0.25rem;
}

.wishlist-item button:hover,
.wishlist-item button:active {
  background-color: #1565c0;
  color: white;
}
