.wishlist-items {
  list-style: none;
  margin: 2rem;
  padding: 0;
}

.button {
  text-align: right;
  font: inherit;
  cursor: pointer;
  background-color: deepskyblue;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
  color: white
}

.button:hover,
.button:active {
  background-color: #1565c0;
  border-color: #1565c0;
  color: white;
}
